@import "colors.scss";

:host {
  // background-color: #1f7dce;
  // background-color: rgb(72, 153, 223);
  overflow: hidden;
}
:host.off {
  background-color: rgb(23, 54, 81);
}

.welcome {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  font-family: monospace;

  &__background {
    background-image: url("/assets/oskar.png");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center;
    // opacity: 0;
    // transform: scale(1.5);
    // transition: opacity 1s ease-out, transform 3s ease-out;
  }
  
  &__background--active {
    opacity: 1;
    transform: scale(1);
  }

  &__container {
    padding-left:  2rem;
    padding-right: 2rem;
    margin-top:    16rem;
    align-self: center;
  }

  &__header {
    padding: 0;
    margin:  0;
    color: $primary-color;
    border-bottom: 4px solid rgb(72, 153, 223);
    text-align: center;
    font-weight: bold;
  }

  &__sub-header {
    margin-top: 1rem;
    font-size: 2rem;
    // text-shadow: 0px 1px 0px black, 1px 0px 0px black, -1px 0px 0px black, 0px -1px black;
    color: $primary-color;
    text-align: center;
  }

  &__nav-arrow {
    position: absolute;
    bottom: 0;
    font-size: 5rem;
    cursor: pointer;
    color: $primary-color;
  }

  &__icons {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    // height: 5rem;
    height: 5.8rem;

    margin-top: 3rem;

    a {
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;  

      padding: 1rem;
      // color: white;
      // border: 1px solid white;
      border-radius: 50%;
      border: 3px solid $primary-color;
      box-shadow: 0px 0px 3px white;

      color: $primary-color;
    }

    fa-icon {
      // width: 3rem;
      height: 3rem;
      font-size: 3rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 370px) {
  .welcome {
    &__header {
      font-size: 4.7rem;
    } 
  }
}

@media screen and (min-width: 1024px) {
  .welcome {
    &__background {
      background-position-x: -18rem;
    }

    &__container {
      align-self: flex-end;
      padding-right: 17rem;
      margin-top: 17rem;
    }

    &__header {
      text-align: center;
      font-size: 7rem;

      padding: 0rem;
      color: $primary-color;
      font-weight: bold;
    }   

    &__sub-header {
      font-size: 3rem;
    }

    &__icons {
      padding: 0 15%;

      fa-icon {
        // font-size: 3.5rem;
      }
    }

    &__nav-arrow {
      font-size: 6rem;
    }
  }
}
