:host {
  background-color: rgb(72, 153, 223);
}
:host.off {
  background-color: rgb(23, 54, 81);
}

.welcome {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   
  // background-image: url("/assets/informatyk-2.jpg");
  // background-size: cover;
  // background-position: top;

  color: white;
  font-family: monospace;

  &__header {
    font-size: 5rem;
  }

  &__sub-header {
    font-size: 2rem;
  }

  &__nav-arrow {
    position: absolute;
    bottom: 0;
    font-size: 5rem;
    cursor: pointer;
  }

  &__icons {
    display: flex;
    justify-content: space-evenly;

    width: 100%;

    margin-top: 3rem;

    a {
      color: white;
    }

    fa-icon {
      font-size: 3rem;
      cursor: pointer;
    }
  }
}
