img {
  max-height: 50%;
}

.hobby {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-size: 4rem;
  text-align: center;
  color: red;

  &__bike {
    height: 50%;
    position: relative;
    padding-top: 30%;
    background-image: url("/assets/violin-1.jpg");
    object-fit: cover;
  }

  &__upper-image {
    position: absolute;
    top:   0;
    right: 0;
    transform: rotateZ(45deg);
  }

  &__music {
    height: 50%;
    position: relative;
    padding-top: 30%;
    background-image: url("/assets/cycling-1.jpg");
    background-position: center;
    object-fit: cover;
  }

  &__lower-image {
    position: absolute;
    bottom: 0;
    left:   0;
    transform: rotateZ(-45deg) translateX(-2rem);
  }
}
