<div class="hobby filter-transition">
  <div class="hobby__music">
    <div class="hobby__music-title">Muzyka</div>
    <div class="staff__row">
      <div class="staff__line"></div>
      <div class="staff__line"></div>
      <div class="staff__line"></div>
      <div class="staff__line"></div>
      <div class="staff__line"></div>
      <div class="staff__cleff staff__cleff--treble"></div>

      <div class="staff__hider staff__hider--left"></div>
      <div class="staff__hider staff__hider--right"></div>

      <div class="staff__notes-wrapper">
        <div *ngFor="let note of notes; let i = index;"
          class="staff__note staff__note--treble staff__note--quarter-down"
          [ngClass]="{'staff__note--silent':           note.length == -4,
                      'staff__note--silent-half':      note.length == -8, 
                      'staff__note--quarter-down':     (note.length == 4 && note.pitch > 4),
                      'staff__note--quarter-up':       (note.length == 4 && note.pitch <= 4),
                      'staff__note--half-down':        (note.length == 8 && note.pitch > 4),
                      'staff__note--half-up':          (note.length == 8 && note.pitch <= 4),
                      'staff__note--half-dotted-down': note.length == 12 }"
          [ngStyle]="{ 'left': basePosition + note.position + '%',
                      'top': basePitch    - note.pitch * 0.775 + 'rem' }">
        </div>
        <div *ngFor="let measure of numberOfMeasures; let idx = index;"
              class="staff__measure"
              [ngStyle]="{ 'left': basePosition + (idx * 16)+ '%' }">
        </div>
      </div>
      <!-- <div class="staff__note staff__note--half-down staff__note--bottom"    style="left: 20%"></div>
      <div class="staff__note staff__note--half-down staff__note--bottom"    style="left: 32%"></div>
      <div class="staff__note staff__note--quarter-down staff__note--bottom" style="left: 44%"></div>
      <div class="staff__note staff__note--quarter-down staff__note--bottom" style="left: 56%"></div>
      <div class="staff__note staff__note--quarter-down staff__note--bottom" style="left: 68%"></div>
      <div class="staff__note staff__note--quarter-down staff__note--middle" style="left: 80%"></div> -->
    </div>
    <div class="hobby__composing-wrapper">
      <fa-icon [icon]="faPlay" (click)="playMusic()" [ngClass]="{ 'invisible': played, 'cursor-normal': played }" style="transition: all 1s; cursor: pointer; font-size: 3rem; padding: 0 1.4rem;"></fa-icon> <span class="hobby__composing">Gram na skrzypcach i komponuje</span>
    </div>
    <div class="staff__row">
      <div class="staff__line"></div>
      <div class="staff__line"></div>
      <div class="staff__line"></div>
      <div class="staff__line"></div>
      <div class="staff__line"></div>
      <div class="staff__cleff staff__cleff--bass"></div>

      <div class="staff__hider staff__hider--left"></div>
      <div class="staff__hider staff__hider--right"></div>

      <div class="staff__notes-wrapper">
        <div *ngFor="let note of notesBass; let i = index;"
          class="staff__note staff__note--bass staff__note--quarter-down"
          [ngClass]="{'staff__note--silent':           note.length == -4,
                      'staff__note--silent-half':      note.length == -8, 
                      'staff__note--quarter-down':     (note.length == 4 && note.pitch > 4),
                      'staff__note--quarter-up':       (note.length == 4 && note.pitch <= 4),
                      'staff__note--half-down':        (note.length == 8 && note.pitch > 4),
                      'staff__note--half-up':          (note.length == 8 && note.pitch <= 4),
                      'staff__note--half-dotted-down': note.length == 12 }"
          [ngStyle]="{ 'left': basePosition + note.position + '%',
                      'top': basePitch    - note.pitch * 0.775 + 'rem' }">
        </div>
        <div *ngFor="let measure of numberOfMeasures; let idx = index;"
              class="staff__measure"
              [ngStyle]="{ 'left': basePosition + (idx * 16)+ '%' }">
        </div>
      </div>
      <!-- <div class="staff__note staff__note--half-down staff__note--bottom"    style="left: 20%"></div>
      <div class="staff__note staff__note--half-down staff__note--bottom"    style="left: 32%"></div>
      <div class="staff__note staff__note--quarter-down staff__note--bottom" style="left: 44%"></div>
      <div class="staff__note staff__note--quarter-down staff__note--bottom" style="left: 56%"></div>
      <div class="staff__note staff__note--quarter-down staff__note--bottom" style="left: 68%"></div>
      <div class="staff__note staff__note--quarter-down staff__note--middle" style="left: 80%"></div> -->
    </div>
    <div class="hobby__violin-wrapper"><span class="hobby__violin hobby__bike-title">Kolarstwo</span></div>
    <img class="hobby__upper-image" src="./assets/violin.png" />
  </div>
  <div class="hobby__bike">
    <img class="hobby__lower-image" src="./assets/bike.png" />
    <svg class="hobby__svg" preserveAspectRatio="none" style="position: absolute;top: 0;width: 100%;left: 0;/*! height: 100%; */z-index: 0;" viewBox="0 0 500 500">
      <path style="stroke: none; fill:white;/*! border-top: 1px solid white; */" d="M 0 85 C 148 184 350 0 500 18 L 500 0 L 0 0 Z\"></path>
    </svg>
    <!-- <path class="hobby__svg" style="stroke: none; fill:#4899df;/*! border-top: 1px solid white; */" d="M 1 85 C 148 184 350 0 500 18 L 500 0 L 0 0 Z\"></path> -->
    <!-- <div class="hobby__music-title hobby__bike-title">Kolarstwo</div> -->
    <!-- <div class="hobby__bike-fotter"> -->
      <!-- <div>Lubie jezdzic na dluzsze wycieczki rowerow 1000+ km w ciagu ostatniego roku</div> -->
      <!-- <div></div> -->
    <!-- </div> -->
  </div>
</div>
