@import "colors.scss";
@import "breakpoints.scss";

:host.off {
  background-color: $primary-color-dark;

  .staff__hider {
    background-color: $primary-color-dark;
  }
}

.hobby {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  font-size: 4rem;
  text-align: center;
  color: black;

  &__music {
    position: relative;
    background-position: center;
    object-fit: cover;
  }

  &__music-title {
    margin: 7rem 0 2rem 0;
    text-shadow: -2px 0px 1px black, 0px 2px 1px black, 2px 0px 1px black, 0px -2px 1px black;
    color: white;
  }

  &__upper-image {
    position: absolute;
    top: 0.6rem;
    right: -6rem;
    opacity: 0.4;
    max-height: 80%;
    z-index: 100;
  }

  &__lower-image {
    width: 43rem;
    height: 30rem;
    

    position: absolute;
    top: -5rem;
    left: -28rem;
    bottom: 0;
    
    z-index: 999;
    
    object-fit: cover;
    z-index: 8888;
    
    transform: rotate(-6deg);
  }

  &__composing-wrapper {
    display: flex;
    height: 5.75rem;
    align-items: center;
    text-align: left;
    margin: 0 2rem;
    background-color: rgba(0,0,0, 0.1);
    position: relative;
    z-index: 200;
  }

  &__composing {
    font-size: 1.8rem;
    border-radius: 0 1rem 1rem 0;
    font-weight: lighter;
  }

  &__play {
    padding: 0 1.4rem;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    transition: all 1s, color 0.3s;
    animation-name: playColorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  &__play:hover {
    animation: unset;
    color: #4899df;
  }

  &__violin-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: 2.7rem;
    z-index: 999;
  }

  &__violin {
    font-size: 5rem;
    padding: 0.5rem;
    border-radius: 1rem 0rem 0rem 1rem;
    border-right: 0;
  }

  &__bike {
    flex: 1;
    position: relative;
    background-image: url("~/assets/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    color: #4899df;
  }

  &__bike-title {
    color: white;
    position: relative;
    text-align: left;
    text-shadow: -2px 0px 1px black, 0px 2px 1px black, 2px 0px 1px black, 0px -2px 1px black;
    margin-top: 0;
  }

  &__bike-fotter {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    left:   0;
    right:  0;
    text-align: center;
    padding: 3rem;

    background-color: rgba(255, 255, 255, 0.6);
    color: black;
  }

  &__svg {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 0;
    height: 45rem;
    overflow: hidden;
  }
}

.staff {
  &__row {
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin: 0 2rem;
  }

  &__line {
    height: 0.3rem;
    position: relative;
    background-color: black;
    z-index: 101;
  }

  &__notes-wrapper {
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__note-wrapper--moving {
    animation-name: moving-low;
    animation-duration: 22s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &__note {
    width: 2rem;
    height: 4.7rem;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 7.7rem;
    left: 10%;
    border-radius: 4px;
    z-index: 1;
  }

  &__note--playing {
    animation-name: noteJump;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &__note--quarter-up {
    background-image: url("~/assets/quarter-note-up.png");
  }

  &__note--quarter-down {
    background-image: url("~/assets/quarter-note-down.png");
  }

  &__note--half-up {
    background-image: url("~/assets/half-note-up.png");
  }

  &__note--half-down {
    background-image: url("~/assets/half-note-down.png");
    top: 100%;
  }

  &__note--half-dotted-down {
    background-image: url("~/assets/half-note-dotted-down.png");
  }

  &__note--silent {
    background-image: url("~/assets/silent-note.png");
  }

  &__note--silent-half {
    background-color: black;
    height: 0.7rem;
    transform: translateY(1.4rem);
  }

  &__note--top {
    bottom: 100%;
    left: 0;
    transform: translateY(-1.7rem);
  }

  &__note--middle {
    bottom: 100%;
    left: 0;
    transform: translateY(-0.9rem);
  }

  &__note--bottom {
    bottom: 0%;
    left: 0;
  }

  &__note--stem-down {
    bottom: 0;
    transform: rotate(-180deg) translateY(-100%);
  }

  &__cleff {
    width: 5rem;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    z-index: 101;

    &--treble {
      background-image: url("~/assets/treble-clef.png"); 
    }

    &--bass {
      background-image: url("~/assets/bass-clef.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 60%;
      top: 1.6rem;
      left: 1rem;
    }
  }

  &__measure {
    width: 0.2rem;
    height: 72%;
    position: absolute;
    top: 1.2rem;
    bottom: 0;
    background-color: black;
    transform: translateX(-0.7rem);
    z-index: 1;
  }

  &__measure:first-of-type {
    display: none;
  }

  &__hider {
    height: 150%;
    position: absolute;
    top:  0;
    background-color: white;
    z-index: 100;
    transition: background-color 1s;

    &--left {
      width: 20%;
      left: calc(0% - 2rem);
    }

    &--right {
      width: 2rem;
      right: calc(0% - 2rem);
    }
  }
}

@media screen and (min-width: $desktop-small-breakpoint) {
  .hobby {
    &__bike {
      background-position-y: calc(50% - 2rem);
    }

    &__music-title {
      margin: 7rem 0 0 0;
    }

    &__composing {
      font-size: 2.5rem;
    }

    &__upper-image {
      right: 4rem;
      top: 0.4rem;
      opacity: 0.8;
    }

    &__lower-image {
      width: 53rem;
      height: 38rem;
      top: -11rem;
      left: -22rem;
    }
  }

  .staff {
    &__notes-wrapper {
      width: 100%;
    }

    &__hider {
      &--left {
        width: 12%;
      }
    }

    &__note-wrapper--moving {
      animation-name: moving-mid;
      animation-duration: 18s;
      animation-delay: 5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
}

@media screen and (min-width: $desktop-normal-breakpoint) {
  .hobby {
    font-size: 5rem;

    &__music-title {
      margin-top: 7rem;
    }

    &__composing-wrapper {
      margin-top: unset;
      margin-bottom: 0.5rem;
    }

    &__composing {
      font-size: 3rem;
    }

    &__violin {
      font-size: 5rem;
    }

    &__violin-wrapper {
      margin-top: 1rem;
    }

    &__svg {
      height: 60rem;
    }

    &__bike-fotter {
      font-size: 2.7rem;
    }

    &__upper-image {
      top: 0;
    }

    &__lower-image {
      width:  73rem;
      height: 53rem;
      top: -14rem;
      left: -22rem;
    }
  }

  .staff {
    &__hider {
      &--left {
        width: 10%;
      }
    }
  }
}

@keyframes moving-low {
  from {transform: translateX(0)}
  to   {transform: translateX(-210%)};
}

@keyframes moving-mid {
  from {transform: translateX(0);}
  to   {transform: translateX(2 * -80%);}
}

@media screen and (min-width: $desktop-wide-breakpoint) {
  .hobby {
    font-size: 6.5rem;

    &__violin {
      font-size: 6.5rem;
    }

    &__composing {
      font-size: 3.7rem;
    }

    &__upper-image {
      top: -1rem;
    }

    &__lower-image {
      width: 80rem;
      height: 57rem;
      top: -12rem;
      left: -23rem;
    }
  }
}

@keyframes playColorChange {
  10%   { color: black; }
  20%   { color: white; }
  30%   { color: black; }
  100%  { color: black; }
} 

@keyframes noteJump {
  0%   { transform: translateY(0); background-color: white; }
  50%  { transform: translateY(-1rem); background-color: #8cc5f5;}
  100% { transform: translateY(0); background-color: #8cc5f5;}
}
