@import "colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  
  font-size: 2rem;
  color: white;

  // background-color: rgba($color: #000000, $alpha: 0.2);

  &--hamburger-open &__hamburger-stick:nth-of-type(1) {
    transform: translateY(1.8rem) scale(0.5);
    opacity: 0;
  }
  &--hamburger-open &__hamburger-stick:nth-of-type(2) {
    transform: rotateZ(45deg);
    opacity: 1;
  }
  &--hamburger-open &__hamburger-stick:nth-of-type(3) {
    transform: rotateZ(-45deg);
    opacity: 1;
  }
  &--hamburger-open &__hamburger-stick:nth-of-type(4) {
    transform: translateY(0.2rem) scale(0.5);
    opacity: 0;
  }

  &--hamburger-open &__links {
    visibility: visible;
    opacity: 1;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width:  100%;
    height: 100vh;

    position: fixed;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;

    opacity: 0;
    visibility: hidden;

    padding: 0;
    margin: 0;
  
    list-style: none;
    font-size: 4rem;
    // background-color: rgb(72, 153, 223);
    background-color: rgba(72, 153, 223, 0.6);

    transition: all 0.5s;

    li {
      padding: 2rem;
      transition: text-shadow 0.2s;
    }

    li:hover {
      cursor: pointer;
      text-shadow: 0px 0px 5px black;
    }

    li:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__hamburger {
    width:  4rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }

  &__hamburger-stick {
    height: 0.2rem;
    // background-color: white;
    background-color: $primary-color;
    transition: all 0.4s;
  }

  &__hamburger-stick:nth-of-type(2) {
    width: 100%;
    position: absolute;
    top: 0.9rem;
    left: 0;
    opacity: 0;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    &__hamburger {
      display: none;
    }

    &__links {
      height: unset;
      right: unset;
      bottom: unset;
      opacity: unset;
      visibility: unset;

      flex-direction: row;
      font-size: 2rem;
    }

    &__links > li {
      position: relative;
      padding: 1.5rem;
    }

    &__links > li::before {
      content: "";
      position: absolute;
      bottom: 0;
      left:   0;
      right:  0;
      height: 1px;
      border-bottom: 1px solid gold;
      opacity: 0;
      transition: opacity 0.5s;
    }

    &__link--active::before {
      opacity: 1 !important;
    }

    &__logo {
      display: none;
    }
  }
}
