<div class="navbar" [ngClass]="{ 'navbar--hamburger-open': hamburgerClicked, 'navbar--mobile-background': navbarBackgroundShown }">
  <div class="navbar__logo" [@blurUnblur]="navbarTitleBlurred ? 'blur' : 'unblur'" (@blurUnblur.done)="changeDisplayedTitle($event)">{{ navbarTitle }}</div>
  <ul  class="navbar__links">
    <li *ngFor="let navItem of config; let idx = index" (click)="navigateTo(navItem.elementTarget)" [ngClass]="{ 'navbar__link--active': navItem === currentSection }" [ngStyle]="{ 'transition': 'opacity ' + (idx + 1) + 's' }">
      <fa-icon class="" [icon]="navItem.icon"></fa-icon> {{ navItem.navName }}
    </li>
  </ul>
  <div class="navbar__hamburger" (click)="onHamburgerClick()" #hamburger>
    <div class="navbar__hamburger-stick"></div>
    <div class="navbar__hamburger-stick"></div>
    <div class="navbar__hamburger-stick"></div>
    <div class="navbar__hamburger-stick"></div>
  </div>
</div>
