@import "colors.scss";

mat-card {
  overflow: hidden;
  padding: 0;
}

.project {
  // width:  100%;
  height: 55rem;
  // border: 1px solid white;
  // border-radius: 2rem;
  background-color: white;
  color: black;
  // background-color: rgba(23, 54, 81, 0.5);

  &__img {
    width: 100%;
    height: 30rem;
    // border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid white;
    object-fit: cover;
  }

  &__header {
    font-size: 3rem;
    text-align: left;
    position: relative;
    padding: 1rem;
    padding-left: 2rem;
    background-color: $primary-color;
    color: white;
    // border-radius: 2rem 2rem 0 0;
  }

  &__desc {    
    // border-top: 1px dotted white;
    padding: 2rem;
    font-size: 2rem;
  }

  &__tech {
    width: 3.5rem;
    margin-right: 1rem;
    position: absolute;
    right: 0;
  }
}
