@import "colors.scss";
@import "breakpoints.scss";

:host {
  position: relative;
  padding-top: 5rem;
}
:host.off {
  background-color: $primary-color-dark;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(37rem, 1fr));
  grid-template-rows: 21rem repeat(8, 1fr);
  justify-items: center;
  align-items: baseline;

  &.fullscreen {
    transition: unset !important;
    filter: unset !important;
  }

  &__background {
    background-image: url("~/assets/computers.png");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: left;
    background-position-x: -101rem;
  }

  &__header {
    // prevent text changes when other elements are animated
    -webkit-font-smoothing: antialiased;

    align-self: flex-start;
    max-width: 50rem;
    padding: 3rem;
    margin: 0;
    color: $primary-color;
    word-spacing: 100vw;

    padding: 6rem 3rem 3rem 3rem;
    display: flex;

    h1 {
      margin: 0;
      border-left: 0.9rem dotted black;
      text-shadow: -2px 0px 1px rgb(0,0,0), 0px 2px 1px rgb(0,0,0), 2px 0px 1px rgb(0,0,0), 0px -2px 1px rgb(0,0,0);
      color: white;
      letter-spacing: -2px;
      font-size: 6rem;
      font-weight: normal;
      line-height: 1;
      padding-left: 2rem;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    max-width: 50rem;
    min-height: 60rem;
    padding: 3rem;
  }

  &__empty-cell {
    visibility: hidden;
    display: none;
  }
} 

@media screen and (max-width: $mobile-breakpoint) {
  .projects {
    overflow: hidden;
  }
}

@media screen and (min-width: $grid-single-column-breakpoint) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
  }
}

@media screen and (min-width: $grid-double-column-breakpoint) {
  .projects {
    grid-template-rows: 21rem repeat(4, 1fr);

    &__empty-cell {
      display: block;
    }
  }
}

@media screen and (min-width: $grid-triple-column-breakpoint) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:    repeat(3, 1fr);
    
    &__header {
      grid-column: unset;
      padding: 22.5rem 0 0 3rem;
      justify-self: initial;

      h1 {
        font-size: 8rem;
        border-left: 1.2rem dotted black;
      }
    } 

    &__empty-cell {
      display: none;
    }
  }
}

@media screen and (min-width: $desktop-wide-breakpoint) {
  :host {
    padding-top: 3rem;
  }

  .projects {
    &__header {
      font-size: 9rem;
    }

    &__item {
      max-width: 60rem;
    }
  }
}
