.navbar-container {
  width:  100vw;
  height: 6rem;
  position: fixed;
  top:  0;
  left: 0;
  z-index: 999;
}

.welcome-container {
}

.raised {
  box-shadow: black 0px 0px 20px;
  // firefox fix
  transform: translate3d(0px, 0px, 0px);
}

.background-transition {
  transition: background-color 1s;
}
