@import "colors.scss";

.timeline {
  display: grid;
  // grid-template-columns: 30% 70%;
  grid-template-columns: 22% 78%;

  height: 100%;
  padding-top: 5rem;
  padding-bottom: 4rem;

  color: black;

  &__line-container {
    height: 130rem;
    grid-column: 1;
    // grid-row: 1/3;
    // margin: 4.5rem;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }

  &__line {
    height: 100%;
    position: relative;  
    border-right: 5px dotted $primary-color;
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(255, 70, 85, 0.96) 30%, #ff483f 47%, #6ae981 54%, #67e47e 85%, #00edff 100%);
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(185, 50, 157, 0.66) 30%, rgba(198, 63, 236, 0.6) 47%, rgba(106, 233, 129, 0.6) 54%, rgba(103, 228, 126, 0.6) 85%, rgb(0, 237, 255, 0.6) 100%);
  }

  &__date:nth-child(1) {
    background-image: url("/assets/stairs-logo.png");
    top: 0%;
  }
  &__date:nth-child(2) {
    top: 20%;
    background-image: url("/assets/xilo-logo.jpg");
    background-size: cover;
    border-radius: 50%
  }
  &__date:nth-child(3) {
    top: 50%;
    background-image: url("/assets/pb-logo.png");
  }
  &__date:nth-child(4) {
    top: 90%;
    background-image: url("/assets/laptop-logo.png");
  }

  &__line-cover {
    content: "";
    // background-color: brown;
    width: 0.5rem;
    // height: 70%;
    display: block;

    // background-color: rgb(64, 201, 255);
    background-color: white;

    height: 100%;
    // border: ;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: all 0.3s linear;
    z-index: 900;
  }

  &__line-date {
    position: absolute;
    top: -1rem;
    right: 0;
    // left: calc(50% - 3rem);
    border-right: 5px dotted;
    font-size: 3rem;
    color: $primary-color;
    z-index: 9999;
    // border-radius: 0 0 50%;
  }

  &__date {
    position: absolute;
    opacity: 0;
    font-size: 2rem;
    transition: opacity 1s;
    z-index: 800;
    background-size: contain;
    background-repeat: no-repeat;

    right: 1rem;
    width: 6rem;
    height: 6rem;
  }

  &__line::before {
    content: "";
    position: absolute;
    // bottom: -4rem;
    display: block;
    // width: 100%;
    // height: 4rem;
    // background-color: #00edff;
    // background-color: rgb(0, 237, 255, 0.6);
    // border-radius: 0% 0% 50% 50%;
    
    right: -0.5rem;
    bottom: -3rem;
    height: 3rem;
    border-right: 5px dotted $primary-color;
    opacity: 0;
    transition: opacity 2s;
  }

  &__line.full::before {
    opacity: 1;
  }

  &__list {
    font-size: 2rem;
    background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0.6116421568627452) 50%, rgba(255,255,255,0) 100%);

    li {
      margin-bottom: 1rem;
    }
  }

  &__list:first-of-type {
    // margin-top: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__info > * {
    transition: opacity 1s;
    opacity: 0;
  }

  &__beginning {
    flex-basis: 20%;
    flex-shrink: 0;
  }

  &__xilo {
    flex-basis: 30%;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__pb {
    flex-basis: 40%;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__finish {
    flex-basis: 10%;
    flex-shrink: 0;
    overflow: visible;
  }

  &__header {
    display: inline-block;
    text-align: left;
    border-bottom: 3px solid;
    font-size: 1.8rem;
    color: $primary-color;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__header-date {
    padding-left: 2rem;
    margin-top: 0;
    font-size: 2rem;
    font-weight: initial;
    font-style: italic;
    color: $primary-color;
  }

  &__list {
    margin: 0;
  }
}

@media screen and (min-width: 400px) {
  .timeline {
    &__header {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .timeline {
    grid-template-columns: 15% 85%;

    &__date {
      left: calc(50% - 4rem);;
      font-size: 4rem;
      right: 1rem;
      width:  10rem;
      height: 10rem;
    }

    &__list {
      font-size: 3rem;
    }

    &__line {
    }

    &__line::before {
      height: 8rem;
      bottom: -8rem;
      right: -0.5rem;
    }

    &__line-container {
      // margin: 2.5rem;
      width: 100%;
    }

    &__header {
      font-size: 3rem;
    }

    &__header-date {
      font-size: 2.5rem;
    }

    &__list {
      background: unset;
    }
  }
}

@media screen and (min-width: 1760px) {
  .timeline {
    &__header {
      font-size: 3.5rem;
      margin-left: 2.5rem;
    }

    &__header-date {
      font-size: 2.9rem;
      padding-left: 2.5rem;
    }

    &__date {
      left: calc(50% - 4.5rem);;
      width:  12rem;
      height: 12rem;
    }

    &__list {
      font-size: 3.3rem;
      margin-left: 1.5rem;
    }

    &__line::before {
      height: 12rem;
      bottom: -12rem;
    }
    
    &__line-date {
      font-size: 4rem;
    }
  }
}
