.timeline {
  display: grid;
  // grid-template-columns: 30% 70%;
  grid-template-columns: 12% 88%;

  height: 100%;
  padding-top: 5rem;
  padding-bottom: 4rem;

  &__line-container {
    height: 130rem;
    grid-column: 1;
    // grid-row: 1/3;
    // margin: 4.5rem;
    margin: 2.5rem;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }

  &__line {
    height: 100%;
    position: relative;  
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(255, 70, 85, 0.96) 30%, #ff483f 47%, #6ae981 54%, #67e47e 85%, #00edff 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(185, 50, 157, 0.66) 30%, rgba(198, 63, 236, 0.6) 47%, rgba(106, 233, 129, 0.6) 54%, rgba(103, 228, 126, 0.6) 85%, rgb(0, 237, 255, 0.6) 100%);
  }

  &__date:nth-child(1) {
    top: 0%;
  }
  &__date:nth-child(2) {
    top: 20%;
  }
  &__date:nth-child(3) {
    top: 50%;
  }
  &__date:nth-child(4) {
    top: 90%;
  }

  &__line-cover {
    content: "";
    // background-color: brown;
    width: 100%;
    // height: 70%;
    display: block;

    // background-color: rgb(64, 201, 255);
    background-color: #00edff;

    height: 100%;
    // border: ;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: all 0.3s linear;
  }

  &__line-date {
    position: absolute;
    top: -1rem;
    right: 0;
    left: calc(50% - 3rem);
    font-size: 3rem;
  }

  &__date {
    position: absolute;
    left: calc(50% - 2rem);
    opacity: 0;
    font-size: 2rem;
    transition: opacity 1s;
    z-index: 800;
  }

  &__line::before {
    content: "";
    position: absolute;
    bottom: -4rem;
    display: block;
    width: 100%;
    height: 4rem;
    // background-color: #00edff;
    background-color: rgb(0, 237, 255, 0.6);
    border-radius: 0% 0% 50% 50%;
  }

  &__list {
    font-size: 2rem;
  }

  &__list:first-of-type {
    // margin-top: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__info > * {
    transition: opacity 1s;
    opacity: 0;
  }

  &__beginning {
    flex-basis: 20%;
    flex-shrink: 0;
  }

  &__xilo {
    flex-basis: 30%;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__pb {
    flex-basis: 40%;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__finish {
    flex-basis: 10%;
    flex-shrink: 0;
    overflow: visible;
  }

  &__header {
    text-align: center;
    border-bottom: 1px white dotted;
    font-size: 2rem;
    color: #ffff90;
    margin-top: 0;
  }

  &__list {
    margin: 0;
  }
}
 
@media screen and (min-width: 768px) {
  .timeline {
    &__date {
      font-size: 4rem;
      left: calc(50% - 4rem);
    }

    &__list {
      font-size: 3rem;
    }

    &__header {
      font-size: 3.5rem;
    }
  }
}
