/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  color: white;
}

.full-screen {
  display: block;
  min-height: 100vh;
}

.visible {
  opacity: 1 !important;
}
