// screens
$mobile-breakpoint: 400px;
$desktop-small-breakpoint: 768px;
$desktop-normal-breakpoint: 1024px;
$desktop-wide-breakpoint: 1760px;

// projects grid
$grid-single-column-breakpoint: 450px;
$grid-double-column-breakpoint: 840px;
$grid-triple-column-breakpoint: 1260px;
