@import"colors.scss";
@import "breakpoints.scss";

:host {
  padding-top: 3rem;
}
:host.off {
  background-color: $primary-color-dark;
}

.experience {
  min-height: 100vh;

  &__background {
    background-image: url("~/assets/oskar-vert.png");
    background-size:   cover;
    background-repeat: no-repeat;
    background-position-x: calc(50% - 30rem);
    background-position-y: center;
  }

  &__timeline {
    display: block;
    height: 100%;
  }

  &__tech {
    position: sticky;
    display: block;
    bottom: 0;
  }
}

@media screen and (min-width: $desktop-normal-breakpoint) {
  .experience {
    &__background {
      background-position: center;
    }
  }
}
